.box {
  margin: 50px auto;
  text-align: center;
}

.day {
  color: orange;
}

.number {
  display: inline-block;
  padding: 4px;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
}

.symbol {
  margin: 0 2px;
  font-weight: 600;
}
